<p>
  Seja bem-vindo a tela de login.


  <form #form="ngForm" (ngSubmit)="login()" >

    <div *ngIf="message">
      <strong>Usuário ou Senha inválido.</strong>
    </div>

    Usuário:<br>
    <input
      type="email"
      [(ngModel)]="user.email"
      id="inputEmail"
      #email="ngModel"
      name="email"
      email>
    <span *ngIf="email.invalid && email.dirty">Email inválido</span>
      <br>
    Senha:<br>
    <input type="password"
    [(ngModel)]="user.password"
    id="inputPassword"
    #password="ngModel"
    name="password"
    required>
    <span *ngIf="password.invalid && password.dirty">Senha inválida</span>

    <br><br>
    <input type="submit" (disabled)="!form.valid" value="Logar">
    <input type="submit" (clic)="cancelLogin()" value="Cancelar">

  </form>
