<div class="lista">

  <!--Usando material angular-->


    <button mat-raised-button color="primary" (click)="addNome()">Enviar</button>
      <form class="e-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Seu nome" [(ngModel)]="cliente.nome">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Sua idade" [(ngModel)]="cliente.idade" >
          </mat-form-field>
      </form>


  <ul>
    <li *ngFor="let nome of clientes">{{nome}}</li>
  </ul>

</div>

