.lista{
  text-align: center;
  color: blueviolet;
}

.e-form {
  min-width: 150px;
  max-width: 200px;
  width: 100%;
  text-align: center;
  align-content: center;
}

.example-full-width {
  width: 100%;
}


